[user]
	name = Alex Toombs
	email = alex.m.toombs@gmail.com
	signingkey = E8CAE90498E5C28C
[credential]
	helper = osxkeychain
[core]
    # Globally ignore files/patterns listed here
    excludesfile = /Users/alex/.gitignore
    editor = code --wait
[diff]
    tool = default-difftool
[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE
[push]
    # help prevent push --force accidents (noted above)
    default = simple
[color]
    # color things when sending output to a terminal
	ui = true
[help]
    # automatically run a misspelled git command if there's only one suggestion
    autocorrect = 1
[alias]
    br = branch
    co = checkout
    # remove local merged branches
    clean-branches = !git branch --merged master | grep -v ' master' | xargs git branch -d
    # show ancestors of the current HEAD in a topologically sorted graph
    lg = log --graph --decorate --oneline
    # show ancestors of all refs in a topologically sorted graph
    lga = log --graph --decorate --oneline --all
    # install the hub command line tool to make this work
    pr = !hub pull-request
    # prunes.
    clean-branches=!git branch --merged master | grep -v ' master' | xargs git branch -d
    # prunes.
    fetch=fetch -p
    # I screw this up too much.
    s = status
    # show ancestors of the current HEAD in a topologically sorted graph
    lg = log --graph --decorate --oneline
    # show ancestors of all refs in a topologically sorted graph
    lga = log --graph --decorate --oneline --all
    # no FFs!
    merge = merge --no-ff
    # publish to auto set up tracking
    publish = push -u origin HEAD
    # force push to github
    pf = push origin +HEAD
    # verbose commits, with signatures
    c = commit	
    commit = commit -v -S
    ca = commit -a -v

    # Rebase with signatures
    rebase = rebase -S	

    # cherry picks
    cp=cherry-pick

    # install the hub command line tool to make this work
[url "git@github.com:"]
    # prefer ssh to github over https
    insteadOf = https://github.com/
[branch]
	autosetupmerge = true
[diff]
    algorithm = histogram
	indentHeuristic = on
[rerere]
	enabled = true
[gpg]
	program = gpg
[commit]
	gpgsign = true
